
.leftbar {

left:0; top:0;   
	background-color: blue;
width: 210;
height: 100%;

text-align: left;
position:fixed





}
.header
{

height:50;
background-color: #E2E1E1;
width:100%;
text-align: center;
position:fixed


    
}
.float-left-area  {
		  width: 70%;
		  float: left;
		  }

.float-right-area {
		  width: 30%;
		  float: left;
		  }



.footer
{  
    left: 0;
    bottom: 0;
 
  
    background-color: #E2E1E1;
    color: #000000;
    text-align: center;

}   
#entrieslist
{
   margin-top:60;
    left: 0;
 
   
    margin-bottom:20;
    background-color: #E2E1E1;
    color: #000000;
    text-align: center;
}
