.leftbar {
    position:fixed;
    z-index: 2;
    left:0; top:50; bottom: 0;
    float: left; 
    width: 25%;


}
.header
{
background-color: #E2E1E1;
color: white;
text-align: center;
position:fixed
z-index: 1;
left:0; top:0;   
height:50;
    
}
.footer
{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E2E1E1;
    color: white;
    text-align: center;

}   
